.table {
  margin-top: 20px;
  overflow: scroll; #scrolling option if it overflows
  color: #6a5d5d; # colour text grey
  background-color: white;
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

#every single odd numbered row, go to it and set background colour to whats mentioned below
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
